<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <div class="navlinks">
            <ul>
                <li><a href="/layouts/order">Order</a></li>
                <li><a href="/layouts/catering">Catering</a></li>
            </ul>
          </div>

          <div class="logo">
            <a href="/">
                <img src="/assets/popeyes-logo.png" alt="" />
               </a>
          </div>

          <div class="signup">
            <p class="rewards">Rewards</p>
            <button type="button">Sing Up</button>
            <button type="button" disabled>$0.00</button>
          </div>
        </nav>
      </header>

      <!-- Hero Section -->
      <section class="hero-section">
        <div class="card">
          <h1>$ 1 Wings Are Waiting!</h1>
          <p>
            Get the best of Bone-in and Boneless Wings, order one and get the
            other for only $1 <a href="#">See terms</a>
          </p>

          <div>
            <button type="button">Order Pickup</button>
            <button type="button">Order Delivery</button>
          </div>
        </div>
      </section>

      <!-- Food Items -->
      <section></section>

      <!-- Footer -->
      <footer>
        <section>
          <!-- menu list -->
          <aside class="menu-list">
            <ul>
              <li><a href="#">Menu |</a></li>
              <li><a href="#">Support |</a></li>
              <li><a href="#">Company |</a></li>
              <li><a href="#">Our Story |</a></li>
              <li><a href="#">Gift Cards |</a></li>
              <li><a href="#">Foundation |</a></li>
              <li><a href="#">Careers |</a></li>
              <li><a href="#">Open a Popeyes |</a></li>
              <li><a href="#">Investor Relations |</a></li>
              <li><a href="#">Nutrition & Allergen |</a></li>
              <li><a href="#">Terms of Services |</a></li>
              <li><a href="#">Trademarks |</a></li>
              <li><a href="#">Privacy Policy |</a></li>
              <li><a href="#">Do Not Sell or Share My Information |</a></li>
              <li><a href="#">Accessability Statement |</a></li>
              <li><a href="#">Offer Terms |</a></li>
              <li><a href="#">Rewards Terms |</a></li>
              <li><a href="#">Delivery Terms |</a></li>
              <li><a href="#">Unsolicited Idea Policy |</a></li>
              <li><a href="#">Sitemap |</a></li>
          </aside>

          <!-- copy right -->
          <aside class="copy-right">
           <p> 2,000 calories a day is used for general Nutrition advice, but calories needs vary <br />
            All pictures are shown for illustrative purposes only. Actual product may vary. <br/>
            TM & © 2024 Popeyes Louisiana Kitchen, Inc. <br />
            Prices may vary</p>
          </aside>

          <!-- Social Media -->
          <aside class="social-media">
            <div class="logo">
              <img src="/assets/popeyes-white.png" alt="">
            </div>

            <div class="social-icons">
              <ul>
                <!-- <li><i class="fa-brands fa-instagram"></i></li> -->
                <li><ion-icon name="logo-instagram"></ion-icon></li>
                <li><ion-icon name="logo-facebook"></ion-icon></li>
                <li><ion-icon name="logo-youtube"></ion-icon></li>
                <li><ion-icon name="logo-twitter"></ion-icon></li>
              </ul>
            </div>
          </aside>
        </section>
      </footer>
    </main>
  </body>
</html>
